name: Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    # 1. Setup Rust
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: crate

    - name: Install wasm-pack
      run: cargo install wasm-pack --version 0.12.1

    # 2. Build Wasm
    - name: Build Wasm CRATE
      run: cd crate && wasm-pack build --target web --out-dir ../public/wasm
      
    # 3. Build Next.js
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'
        
    - name: Install Dependencies
      run: npm ci

    - name: Build Next.js
      run: npm run build
